<h1>New User Registration</h1>
<%= form_for @user, url: "create" do |f| %>
  <%= f.text_field :email %>
  <%= f.text_field :name %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>
