<h1><%= @user.name %></h1>
<h3><%= @user.email %></h3>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to "Edit Profile", "/users/edit/#{@user.id}"%>

<form action="/secrets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <!-- <input type="hidden" name="user_id" value="<%= @user.id %>"> -->
  <input type="text" name="content">
  <input type="submit" value="Submit Secret">
</form>

<% @secrets.each do |secret| %>
  <p><%= secret.likes.count %> likes -<%= secret.content %></p>
  <% if secret.users_liked.include?(current_user) %>
    <form action="/likes" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="secret_id" value="<%= secret.id %>">
      <input type="submit" value="Unlike">
    </form>
  <% else %>
    <form action="/likes" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="secret_id" value="<%= secret.id %>">
      <input type="submit" value="Like">
    </form>
  <% end %>
  <form action="/secrets/<%= secret.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<% end %>
